* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.principal {
    background: #FEFEFE;
}

.titulo1 {
    text-align: center;
    padding-left: 20px;
    font-size: 100px;
}

.barbearia {
    padding: 10px;
}

#Localização {
    text-align: center;
    margin: 0 0 2em;
}

.mapa-conteudo {
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa {
    display: flex;
    justify-content: center;
}


.titulo-centralizado {
    text-align: center;
    font-size: 2em;
    margin: 2em 0 1em;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0px 20px 0px 40px;
}

.Localizada, .nossa, .Oferecemos {
    margin: 0 0 1em 150px;
}

.corte {
    float: right;
    margin: 0;
    width: 350px;
    opacity: 1;
    box-shadow: 10px 10px 5px #000000;

}

.corte:hover {
    opacity: 0.3;
    transition: 400ms;
}

h1 {
    padding-left: 20px;
}

h2 {
    text-align: center;
}

.nossa {
    font-size: 20px;
}

.nossa_2 {
    color: #C78C19;
}

.cadeira {
    width: 100%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    list-style: none;
}

.listad {
    line-height: 1,5;
}

.listad:first-child {
    font-weight: bold;
}

.conteudo-beneficios {
    display: flex;
    justify-content: center;
}


.ul1 {
    display: flex;
    justify-content: center;
}

.lista2 {
    margin: 15px;
}

.logo {
    background-color: #cccccc;
    position: relative;
    width: 1349px;
    margin: 0 auto;
    padding: 0;
}

.Benefícios {
    padding: 3em 0;
    background: #888888;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline-block;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 26px;
    margin: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}



.Produtos {
    width: 940px;
    margin: 0 150px;
    padding: 50px;
}


.Produtos li {
   display:inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.5%;
   box-sizing: border-box;
   border: 2px solid #000000;
   border-radius: 10px;
}

.Produtos li:hover {
    border-color: #C78C19;
}

.Produtos li:active {
    border-color: #832323;
}

.Produtos li:hover h3 {
    font-size: 35px;
}

.Produtos h3 {
    font-size: 30px;
}

.preços {
    font-size: 20px;
    margin-top: 10px;
}

footer {
    background-color: #000000;
    text-align: center;
}

.Copy {
    color: #ffffff;
    padding: 7px;
}

form {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 25px;
}

form label, form h3 {
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

.input-padrao {
    display: block;
    padding: 10px 25px;
    width: 50%;
}    

.checkbox {
    margin: 20px 0;
}

.botao {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.botao:hover {
    background: darkorange;
    transform: scale(1.1);
}

table {
    margin:20px 200px;
    border: 1px solid #000000;
    border-spacing: 0px;
}


thead {
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}



.video {
    width: 560px;
    margin: 5em auto;
}
